<v-layout row py-1>
    <v-card width="100%"
            color="#eff4f9"
            raised
            hover>
        <v-container py-1>
            <v-layout row>
                <v-flex md6>
                    <v-autocomplete attach="true"
                              v-model="stock.stockTypeId"
                              label="Вид склад"
                              v-bind:items="stockTypes"
                              item-text="value"
                              item-value="key"
                              placeholder="-- Вид склад --"
                              clearable>
                    </v-autocomplete>
                </v-flex>
                <v-flex md2>
                    <v-btn icon v-on:click="onSaveStock(stock)" type="button" class="btn btn-sm btn-outline-secondary" title="Запази"><i class="fa fa-save"></i></v-btn>
                    <v-btn icon v-on:click="onDeleteStock(index)" type="button" class="btn btn-sm btn-outline-secondary" title="Изтрий"><i class="fa fa-trash"></i></v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
</v-layout>