<v-layout row py-1>
    <v-card width="100%"
            color="#eff4f9"
            raised
            hover>
        <v-container py-1>
            <v-layout row>
                <v-flex md2>
                    {{stock.stockType.name ? stock.stockType.name : '-'}}
                </v-flex>
                <v-flex md3>
                    {{stock.lastModified ? stock.lastModified : 'няма данни'}}
                </v-flex>
                <v-flex md2>
                    <v-btn icon v-on:click="onEditStock(stock, index)" type="button"
                           class="btn btn-sm btn-outline-secondary" title="Редактирай"><i class="fa fa-edit"></i>
                    </v-btn>
                    <v-btn icon v-on:click="onDeleteStock(index)" type="button" class="btn btn-sm btn-outline-secondary"
                           title="Изтрий"><i class="fa fa-trash"></i></v-btn>
                </v-flex>
                <v-flex md4>
                    <v-btn icon v-on:click="onPreviewMaterials(stock)" type="button" class="btn btn-sm btn-outline-secondary" title="Преглед"><i class="fa fa-eye"></i></v-btn>
                    <v-btn icon v-on:click="onEditMaterials(stock)" type="button" class="btn btn-sm btn-outline-secondary" title="Редакция"><i class="fa fa-sitemap"></i>
                    </v-btn>
                    <v-btn icon v-on:click="onMaterialDocuments()" type="button" class="btn btn-sm btn-outline-secondary" title="Документи"><i class="fa fa-file-archive"></i>
                    </v-btn>
                    <v-btn icon v-on:click="onMaterialHistory()" type="button" class="btn btn-sm btn-outline-secondary" title="История"><i class="fa fa-history"></i></v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
</v-layout>
<v-card v-show="stock.inPreviewMode">
    <th:block th:insert="~{stock/_previewStockMaterials}"/>
</v-card>
<div id="material">
    <div v-show="stock.inEditMaterialsMode">
        <th:block th:insert="~{materials/_editMaterials}"/>
    </div>
</div>