<v-container>
        <v-layout row>
            <v-flex md2>
                <b>Склад</b>
            </v-flex>
            <v-flex md3>
                <b>Последна промяна</b>
            </v-flex>
            <v-flex md2>
                <b>Действия склад</b>
            </v-flex>
            <v-flex md4>
                <b>Действия материали</b>
            </v-flex>
            <v-flex md1>
                <button v-on:click="onCreateStock"
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                        style="float: right;" xmlns:v-on="http://www.w3.org/1999/xhtml">
                    <i class="fa fa-plus-square white-color"></i> Добави склад
                </button>
            </v-flex>
        </v-layout>
    <hr/>

    <fade-transition group>
        <div v-for="(stock, index) in stocks" :key=index>
            <template v-if="stock.inCreateMode">
                <th:block th:insert="~{stock/_createStock}"/>
            </template>
            <template v-else="">
                <th:block th:insert="~{stock/_viewStock}"/>
            </template>
        </div>
    </fade-transition>
</v-container>