<!--suppress ALL -->
<v-tabs show-arrows>
    <v-tabs-slider color="#262626"></v-tabs-slider>
    <v-tab :key="1" ripple centered>
        Производство
    </v-tab>
    <v-tab :key="2" ripple centered>
        Инвентар
    </v-tab>
    <v-tab :key="3" ripple centered>
        Склад
    </v-tab>
    <v-tab :key="4" ripple centered>
        Документи
    </v-tab>
    <v-tab :key="5" ripple centered>
        Коментари
    </v-tab>
    <v-tab :key="6" ripple centered>
        История
    </v-tab>
</v-tabs>