<!--suppress ALL -->
<v-tabs show-arrows align-with-title>
    <v-tabs-slider color="#262626"></v-tabs-slider>
    <v-tab :key="1" ripple centered>
        Производство
    </v-tab>
    <v-tab :key="2" ripple centered>
        Инвентар
    </v-tab>
    <v-tab :key="3" ripple centered>
        Склад
    </v-tab>
    <v-tab :key="4" ripple centered>
        Документи
    </v-tab>
    <v-tab :key="5" ripple centered>
        Коментари
    </v-tab>
    <v-tab :key="6" ripple centered>
        История
    </v-tab>
    <v-tabs-items>
        <v-tab-item :key="1" :transition="false" :reverse-transition="false">
            <manufactury inline-template>
                <div class="card-body">
                    <template v-if="!manufacturyDataIsLoaded">
                        <div class="loader"></div>
                    </template>
                    <template v-else>
                        Manufactury
                    </template>
                </div>
            </manufactury>
        </v-tab-item>
        <v-tab-item :key="2" :transition="false" :reverse-transition="false">
            <inventory inline-template>
                <div class="card-body">
                    <template v-if="!inventoryDataIsLoaded">
                        <div class="loader"></div>
                    </template>
                    <template v-else>
                        Inventory
                    </template>
                </div>
            </inventory>
        </v-tab-item>
        <v-tab-item :key="3" :transition="false" :reverse-transition="false">
            <stock inline-template>
                <div class="card-body">
                    <template v-if="!stockDataIsLoaded">
                        <div class="loader"></div>
                    </template>
                    <template v-else>
                        <th:block th:insert="~{stock/stocks}"/>
                    </template>
                </div>
            </stock>
        </v-tab-item>
    </v-tabs-items>
</v-tabs>