<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div id="wrapper">

    <!--Sidebar-->
    <th:block th:insert="~{fragments/navbar}"/>
    <!--End of Sidebar-->

    <!--Main content-->
    <div id="content-wrapper" class="flex-column">

        <!-- Topbar -->
        <th:block th:insert="~{fragments/topbar}"/>
        <!--End of Topbar-->

        <!--Breadcrumbs GOES HERE-->
        <ul id="breadcrumb">
            <li><a><span class="fa fa-home"> </span></a></li>

        </ul>
        <!--End of Breadcrumbs-->

        <!--Main page content-->
        <div id="content">
            <div id="view-header"><h3 class="ml-4">Всички производства</h3></div>
            <!-- Vue Component-->
            <div id="allproductions">
                <v-app>
                    <v-container>
                        <template v-if="loading">
                            <div class="loader"></div>
                        </template>
                        <template v-else>
                            <v-data-table :headers="headers"
                                          :items="productions"
                                          item-key="id"
                                          sort-by="name"
                                          class="elevation-1"
                                          hide-actions
                                          show-expand>
                                <template v-slot:items="props">
                                    <tr>
                                        <td class="text-xs-left">
                                            {{ props.item.name }}
                                        </td>
                                        <td class="text-xs-left">
                                            {{ props.item.identifyingNumber }}
                                        </td>
                                        <td class="text-xs-left">
                                            {{ props.item.email }}
                                        </td>
                                        <td class="text-xs-left">
                                            {{ props.item.phone }}
                                        </td>
                                        <td class="text-xs-left">
                                            {{ props.item.fullAddress }}
                                        </td>
                                        <td class="text-xs-left">
                                            {{ props.item.GPSCoordinates }}
                                        </td>
                                        <td class="text-xs-left">
                                            {{ props.item.dateCreated }}
                                        </td>
                                        <td class="text-xs-left">
                                            {{ props.item.description }}
                                        </td>
                                        <td>
                                            <v-card-actions>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on }">
                                                        <v-icon v-on="on"
                                                                medium
                                                                class="mr-2"
                                                                v-on:click="editItem(props.item)">
                                                            edit
                                                        </v-icon>
                                                    </template>
                                                    <span>Редакция</span>
                                                </v-tooltip>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on }">
                                                        <v-icon v-on="on"
                                                                medium
                                                                class="mr-2"
                                                                v-on:click="redirectToProduction(props.item)">
                                                            call_split
                                                        </v-icon>
                                                    </template>
                                                    <span>Към база</span>
                                                </v-tooltip>
                                            </v-card-actions>
                                        </td>
                                    </tr>
                                </template>
                            </v-data-table>
                        </template>
                    </v-container>
                </v-app>
            </div>
            <!-- End of Component -->
        </div>
        <!-- End of main page content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <th:block th:insert="~{fragments/footer}"/>
        </footer>
        <!-- End of Footer -->

    </div>
    <!--End of main content-->

</div>

<!-- Section Scripts -->
<th:block th:insert="~{fragments/scripts}"></th:block>
<script th:src="@{/VueComponents/production/allProduction.js}"></script>
<!-- Section Scripts -->

</body>
</html>
