<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div id="wrapper">

    <!--Sidebar-->
    <th:block th:insert="~{fragments/navbar}"/>
    <!--End of Sidebar-->

    <!--Main content-->
    <div id="content-wrapper" class="flex-column">

        <!-- Topbar -->
        <th:block th:insert="~{fragments/topbar}"/>
        <!--End of Topbar-->

        <!--Breadcrumbs GOES HERE-->
        <ul id="breadcrumb">
            <li><a><span class="fa fa-home"> </span></a></li>

        </ul>
        <!--End of Breadcrumbs-->

        <!--Main page content-->
        <div id="content">
            <div id="view-header">
                <h3 class="ml-4" th:text="${productionViewName}"></h3></div>

            <!-- Vue Components -->
            <div id="productionInfo">
                <v-container>
                    <template v-if="loading">
                        <div class="loader"></div>
                    </template>
                    <template v-else>
                        <div class="row" data-app>
                            <div class="col-xl-12 col-xxl-5" style="margin-bottom: 30px">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Основни данни</h4>
                                    </div>
                                    <div class="card-body">
                                        <th:block th:insert="~{production/_productionGeneralInfo}"/>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xl-12 col-xxl-7" style="margin-bottom: 30px">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Допълнителни данни</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <th:block th:insert="~{production/_productionAdditionalInformation}"/>
                                </div>
                            </div>
                        </div>
                    </template>
                </v-container>
            </div>
            <!-- End of Component -->
        </div>
        <!-- End of main page content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <th:block th:insert="~{fragments/footer}"/>
        </footer>
        <!-- End of Footer -->

    </div>
    <!--End of main content-->

</div>

<!-- Section Scripts -->
<th:block th:insert="~{fragments/scripts}"></th:block>

                        <!-- Models -->
<script th:src="@{/Models/Stock.js}"></script>
<script th:src="@{/Models/Material.js}"></script>

                        <!-- Components -->
<script th:src="@{/VueComponents/manufactury/manufactury.js}"></script>
<script th:src="@{/VueComponents/inventory/inventory.js}"></script>
<script th:src="@{/VueComponents/stock/stock.js}"></script>
<script th:src="@{/VueComponents/material/material.js}"></script>
<script th:src="@{/VueComponents/production/productionInfo.js}"></script>
<!-- Section Scripts -->

</body>
</html>
