<th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Production Management</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/filepond.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/iziModal.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/iziToast.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.loadingModal.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/vuetify/material-design-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/vuetify/slow-transition.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/vuetify/vuetify.min.css}">
</th:block>