<th:block>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/jquery.loadingModal.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <script th:src="@{/js/vue/vue.js}"></script>
    <script th:src="@{/js/vue/bootstrap-vue.min.js}"></script>
    <script th:src="@{/js/vue/vue2-transitions.js}"></script>
    <script th:src="@{/js/vue/vuetable-2.js}"></script>
    <script th:src="@{/js/vue/vuetify.min.js}"></script>
    <script th:src="@{/js/vue/mutant-transitions.js}"></script>

    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/iziModal.min.js}"></script>
    <script th:src="@{/js/iziToast.min.js}"></script>
    <script th:src="@{/js/global.js}"></script>
    <script th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/js/moment-bg.js}"></script>
    <script th:src="@{/js/file-attachments.js}"></script>
    <script th:src="@{/js/filepond.js}"></script>
    <script th:src="@{/js/vue-filepond.min.js}"></script>
    <script th:src="@{/js/modernizr-2.8.3.js}"></script>
</th:block>