<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    </head>
<body>
<div id="wrapper">

    <!--Navbar-->
    <th:block th:insert="~{fragments/navbar}"/>
    <!--End of Navbar-->

    <!--Main content-->
    <main>
        <div id="content-wrapper" class="flex-column">

            <!--Main content-->
            <div class="container-fluid">
                <div id="map" style="width: 90%; height: 80%; position: absolute;">
                </div>
            </div>
            <!--End of Main content-->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <th:block th:insert="~{fragments/footer}"/>
            </footer>
            <!-- End of Footer -->

        </div>
    </main>
    <!--End of main content-->

</div>
<th:block th:insert="~{fragments/scripts}"></th:block>
<script th:src="@{/VueComponents/map/map.js}"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwmMhxe_w3jfoJCTGOtpxhSaVWoiIZx5A&callback=initMap">
</script>
</body>
</html>
