<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div id="wrapper">

    <!--SideBar-->
    <th:block th:insert="~{fragments/navbar}"/>
    <!--End of SideBar-->

    <!--Main content-->
    <div id="content-wrapper" class="flex-column">

        <!-- Topbar -->
        <th:block th:insert="~{fragments/topbar}"/>
        <!--End of Topbar-->

        <!--Breadcrumbs GOES HERE-->
        <ul id="breadcrumb">
            <li><a><span class="fa fa-home"> </span></a></li>

        </ul>
        <!--End of Breadcrumbs-->

        <!--Main content-->
        <div class="content">
            <div id="view-header"><h3 class="ml-4">Начало</h3></div>
            <div id="map"></div>
        </div>
        <!--End of Main content-->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <th:block th:insert="~{fragments/footer}"/>
        </footer>
        <!-- End of Footer -->

    </div>
    <!--End of main content-->

</div>
<th:block th:insert="~{fragments/scripts}"></th:block>
<script th:src="@{/VueComponents/map/map.js}"></script>
<!--<script async defer-->
        <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwmMhxe_w3jfoJCTGOtpxhSaVWoiIZx5A&callback=initMap">-->
<!--</script>-->
</body>
</html>
